# =========================================
# Docker ignore
# =========================================
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.git/
logs/
.DS_Store
.idea/
.vscode/

# *.db
# instance/
# .env